.gm2-attr-group {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.gm2-remove-attr {
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    margin-right: 4px;
    padding: 2px;
}
.gm2-toggle-attr {
    cursor: pointer;
    font-size: 12px;
    line-height: 1;
    margin-right: 4px;
    padding: 2px;
}
.gm2-attr-group.collapsed select {
    display: none;
}
.gm2-attr-group.collapsed .gm2-toggle-attr {
    transform: rotate(-90deg);
}
.gm2-remove-attr:hover {
    color: red;
    transform: scale(1.2);
}

.gm2-tag {
    display: inline-block;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 2px 4px 2px 0;
    padding: 2px 4px;
    font-size: 12px;
}

.gm2-remove-tag {
    cursor: pointer;
    margin-right: 2px;
    color: #a00;
}

.gm2-allow-multi {
    text-align: center;
    vertical-align: middle;
}

